node_modules
.env
/.vscode

# Hardhat files
/cache
/artifacts

# Contracts exposed
/contracts-exposed

# TypeChain files
/typechain
/types

# solidity-coverage files
/coverage
/coverage.json
mochaOutput.json
